/* Using CSS variables for easy-to-change colors */
body {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    min-height: 100vh;
    background: rgb(173, 218, 234);
    color: purple;
    flex-wrap: wrap;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.signup{
    background: purple;
    width: 400px;
    color: green;

}

h1 {
    text-align: center;
    color: black;
}

.signup .input-box {
    width: 100%;
    height: 50px;
    background: aquamarine;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid;
    border-radius: 40px;

}


















